body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
}

#clock{
    color: #00ffff;
    font-size: 100px;
}